.section {
  position: absolute;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  bottom: 50px;
  left: 50%;
}

.section-block {
  position: relative;
}
.section-icon {
  position: absolute;
  left: 0;
  top: -55px;
  animation: icon-bounce 0.5s infinite alternate;
}

.section-icon > img {
  transform: scale(0.5);
}

@keyframes icon-bounce {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 10px);
  }
}
